<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- JSON LOGS TO LOGSTASH -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "traceId": "%mdc{traceId:-}",
                        "spanId": "%mdc{spanId:-}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <!-- NORMAL CONSOLE LOGS -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{traceId:-},%X{spanId:-}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ROOT LOGGER -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>